
*.xcuserstate

*.xcbkptlist

*.xcscheme

Demo/JPSThumbnailAnnotation.xcodeproj/xcuserdata/zil.xcuserdatad/xcschemes/xcschememanagement.plist

Demo/JPSThumbnailAnnotation.xcodeproj/project.pbxproj

Demo/JPSThumbnailAnnotation.xcodeproj/project.pbxproj
